---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/street-address?auth-id=AUTH-ID&auth-token=AUTH-TOKEN&city=San%20Francisco&secondary=Floor%20100&state=CA&street=114%20Sansome%20Street&zipcode=94104
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"114 Sansome St Fl 100","last_line":"San Francisco CA 94104-3803","delivery_point_barcode":"941043803990","components":{"primary_number":"114","street_name":"Sansome","street_suffix":"St","secondary_number":"100","secondary_designator":"Fl","city_name":"San Francisco","state_abbreviation":"CA","zipcode":"94104","plus4_code":"3803","delivery_point":"99","delivery_point_check_digit":"0"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"06075","county_name":"San Francisco","carrier_route":"C015","congressional_district":"12","building_default_indicator":"Y","rdi":"Commercial","elot_sequence":"0124","elot_sort":"A","latitude":37.79133,"longitude":-122.40068,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"S","dpv_footnotes":"AACC","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#S#"}}]
  recorded_at: Tue, 14 Jun 2016 10:00:19 GMT
recorded_with: VCR 2.5.0
