---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/street-address?auth-id=AUTH-ID&auth-token=AUTH-TOKEN&city=San%20Francisco&secondary=Floor%205&state=CA&street=114%20Sansome%20Street&zipcode=94104
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"114 Sansome St Fl 5","last_line":"San Francisco CA 94104-3812","delivery_point_barcode":"941043812053","components":{"primary_number":"114","street_name":"Sansome","street_suffix":"St","secondary_number":"5","secondary_designator":"Fl","city_name":"San Francisco","state_abbreviation":"CA","zipcode":"94104","plus4_code":"3812","delivery_point":"05","delivery_point_check_digit":"3"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"06075","county_name":"San Francisco","carrier_route":"C015","congressional_district":"12","rdi":"Commercial","elot_sequence":"0163","elot_sort":"A","latitude":37.79133,"longitude":-122.40068,"precision":"Zip9","time_zone":"Pacific","utc_offset":-8,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"N","footnotes":"N#"}}]
  recorded_at: Thu, 09 Jun 2016 12:06:12 GMT
recorded_with: VCR 2.5.0
