---
http_interactions:
- request:
    method: get
    uri: https://api.smartystreets.com/street-address?auth-id=AUTH-ID&auth-token=AUTH-TOKEN&city=Butner&state=NC&street=500%20W%20E%20Street&zipcode=27509
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        [{"input_index":0,"candidate_index":0,"delivery_line_1":"500 W E St","last_line":"Butner NC 27509-1940","delivery_point_barcode":"275091940003","components":{"primary_number":"500","street_predirection":"W","street_name":"E","street_suffix":"St","city_name":"Butner","state_abbreviation":"NC","zipcode":"27509","plus4_code":"1940","delivery_point":"00","delivery_point_check_digit":"3"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"37077","county_name":"Granville","carrier_route":"C001","congressional_district":"01","rdi":"Residential","elot_sequence":"0163","elot_sort":"A","latitude":36.13407,"longitude":-78.76982,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"N#"}}]
  recorded_at: Fri, 10 Jun 2016 12:20:10 GMT
recorded_with: VCR 2.5.0
