---
http_interactions:
- request:
    method: get
    uri: https://international-street.api.smartystreets.com/verify?address1=938%20Jagged%20Dell&administrative_area=NU&auth-id=AUTH-ID&auth-token=AUTH-TOKEN&country=CAN&locality=Newby&postal_code=X1D-8F9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"address1":"938 Jagged Dell","address2":"Newby NU X1D 8F9","components":{"administrative_area":"NU","country_iso_3":"CAN","locality":"Newby","postal_code":"X1D
        8F9","postal_code_short":"X1D 8F9","premise":"938","premise_number":"938","thoroughfare":"Jagged
        Dell","thoroughfare_name":"Jagged","thoroughfare_trailing_type":"Dell"},"metadata":{},"analysis":{"verification_status":"None","address_precision":"None","max_address_precision":"DeliveryPoint"}}]'
  recorded_at: Mon, 14 Nov 2016 17:13:57 GMT
recorded_with: VCR 3.0.3
